.top-bar-unitscount {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
    padding: 3em;
    background-color: #f5f8fc;
    align-items: flex-start;  
    width: auto;
    margin-left: 12em;
    /* margin-left: 1em -15em; */
  }
    
    .top-title-unitscount {
      font-weight: bold;
      font-size: 1.4em;
      color: #003366;
    }
    
    .toolbar-unitscount {
      display: flex;
      flex-wrap: wrap;
      gap: 1em;
    }
    
    /* Search Box */
    .search-container-unitscount {
      position: relative;
    }
    


    /* Buttons */
    .button-group-unitscount {
      display: flex;
      gap: 1.5em;
      flex-wrap: wrap;
    }
    
    .btn-unitscount {
      padding: 0.5em 1em;
      border: none;
      color: white;
      border-radius: 2px;
      font-size: 0.95em;
      cursor: pointer;
      transition: background 0.3s;
    }
    

    .btn.primary-unitscount {
      background-color: #2176bd;
    }

    .btn.green-unitscount {
        background-color: #2d7a3e;
      }
    
    .btn.dark-unitscount {
      background-color: #122b40;
    }
    