.history-balance-table-container {
  width: 100vw;
  max-width: 1170px;
  padding: 1em;
  background-color: #f5f8fc;
  box-sizing: border-box;
  margin: 0 auto;
  padding-left: 1em;
}

.history-balance-table {
  width: 100%;
  margin: 1em auto;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  table-layout: fixed;
}

.history-balance-table th,
.history-balance-table td {
  border: 1px solid #999;
  padding: 0.5em;
  text-align: center;
  vertical-align: middle;
  white-space: normal;
  word-wrap: break-word;
}

.history-balance-table th {
  background-color: #dfe8f6;
  font-weight: bold;
}

.history-balance-table th:nth-child(1),
.history-balance-table td:nth-child(1) {
  width: 2.5%;
  height: 4em;
}

.history-balance-table th:nth-child(2),
.history-balance-table td:nth-child(2) {
  width: 4%;
}

.history-balance-table th:nth-child(3),
.history-balance-table td:nth-child(3) {
  width: 3%;
}

.history-balance-table th:nth-child(4),
.history-balance-table td:nth-child(4) {
  width: 13%;
}

.history-balance-table th:nth-child(5),
.history-balance-table td:nth-child(5) {
  width: 3.5%;
}

.history-balance-table th:nth-child(6),
.history-balance-table td:nth-child(6) {
  width: 3%;
}


.history-balance-left-align {
  text-align: left;
  padding-left: 1em;
}

.history-balance-pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1em;
  font-size: 0.95em;
  width: 90%;
  margin-left: 1.5em;
  margin-right: auto;
  flex-wrap: wrap;
}

.history-balance-pagination-info {
  color: #333;
  margin-right: auto;
}

.history-balance-pagination span,
.history-balance-pagination a {
  padding: 0.3em 0.6em;
  margin: 0 0.2em;
  border: 1px solid #ccc;
  background-color: white;
  text-decoration: none;
  color: #000;
  border-radius: 3px;
}

.history-balance-pagination .current {
  background-color: #2176bd;
  color: white;
}

.history-balance-pagination .disabled {
  color: #aaa;
}

.history-balance-status.approved {
  color: #2d7a3e;
  font-weight: bold;
}
