.excel-export {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: #2e7d32;
  font-size: 16px;
  padding: 5px 10px;
}

.excel-export img {
  height: 24px;
  margin-right: 6px;
}

.incoming-controls {
  display: flex;
  align-items: center;
  gap: 12px; /* ระยะห่างระหว่างแต่ละปุ่ม */
  flex-wrap: wrap; /* กรณีจอเล็กจะขึ้นบรรทัดใหม่ */
}