.adjust-header {
  display: flex;
  flex-direction: column;
  padding: 1em;
  background-color: #f9f9f9;
  align-items: flex-start;
  width: auto;
  margin-top: -0.6em;
}

.adjust-title {
  font-weight: bold;
  font-size: 1.4em;
  margin-bottom: 0.5rem;
  color: #003366;
}

.adjust-controls {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  align-items: center;
}

/* ช่องค้นหา */
.search-container {
  position: relative;
}

.search-container input {
  padding: 0.5em 0.5em 0.5em 2em;
  border: 2px solid #aab3bb;
  border-radius: 3px;
  font-size: 1em;
  min-width: 250px;
}

.search-icon {
  position: absolute;
  left: 0.5em;
  top: 50%;
  transform: translateY(-50%);
  color: gray;
  pointer-events: none;
}

/* ปุ่ม */
.btn.green {
  background-color: #2d7a3e;
  padding: 0.5em 1em;
  border: none;
  border-radius: 3px;
  font-size: 1em;
  color: white;
  cursor: pointer;
  font-weight: bold;
}
