/* human.css */

.top-bar {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
    padding: 1em;
    background-color: #f5f8fc;
    align-items: flex-start;
    width: auto;
    margin-top: -0.6em;
  }
  
  .search-box {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0 10px;
    background-color: white;
    width: 1000px;
    max-width: 100%;
    height: 40px;
    box-sizing: border-box;
  }
  
  .search-box img {
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
    opacity: 0.6;
  }
  
  .search-box input {
    border: none;
    outline: none;
    font-size: 1rem;
    width: 100%;
    background: transparent;
    height: 100%;
    box-sizing: border-box;
  }
  
  .top-title {
    font-weight: bold;
    font-size: 1.4em;
    color: #003366;
  }
  
  .toolbar {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    align-items: center;
  }
  
  .button-group {
    display: flex;
    gap: 1.5em;
    flex-wrap: wrap;
  }
  
  .btn {
    padding: 0.5em 1em;
    border: none;
    color: white;
    border-radius: 2px;
    font-size: 0.95em;
    cursor: pointer;
    transition: background 0.3s;
    height: 40px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
  }
  

  
  .status.approved {
    color: #2d7a3e;
  }
  
  
  .table-container {
    background-color: hsl(214, 54%, 97%);
    padding: 0.5em 1em;
    margin: 1em;
  }
  
  .hum-table {
    width: auto;
    margin: 0.05em auto 0 auto;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    table-layout: auto;
  }
  
  .hum-table th,
  .hum-table td {
    border: 1px solid #999;
    padding: 0.4em 0.75em;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
  }
  
  .hum-table th {
    background-color: #dfe8f6;
    font-weight: bold;
  }
  
  
.pagination {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 1.5em;
    padding: 0 1em;
    font-size: 1em;
    flex-wrap: wrap;
    gap: 1em;
  }
  
  .pagination-info {
    color: #111;
    font-weight: bold;
    font-size: 1em;
    margin-right: 1em;
  }
  
  .pagination span,
  .pagination a {
    padding: 6px 12px;
    margin: 0 2px;
    border: 1px solid #ccc;
    background-color: white;
    text-decoration: none;
    color: #000;
    border-radius: 3px;
    font-weight: bold;
    font-family: 'Prompt', sans-serif;
    display: inline-block;
    min-width: 2.1em;
    text-align: center;
    line-height: 1.2;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  }
  
  .pagination .current {
    background-color: #2176bd;
    color: white;
    border: 1px solid #2176bd;
  }
  
  .pagination .disabled {
    color: #aaa;
    font-weight: normal;
    border-color: #ccc;
    background-color: #f5f5f5;
    cursor: not-allowed;
  }
  
  .pagination a:last-child,
  .pagination a:first-child {
    font-weight: bold;
  }
  