.org-container {
    background-color: #f9f9f9;
    width: 1200px;
    padding: 0 1rem;
  }
  
  .org-title {
    font-weight: bold;
    font-size: 1.4em;
    color: #003366;
  }
  
  .org-controls {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
  }
  
  .org-search-box {
    position: relative;
  }
  
  .org-search-box input {
    padding: 0.5em 0.5em 0.5em 2em;
    border: 2px solid #aab3bb;
    border-radius: 3px;
    font-size: 1em;
  }
  
  .search-icon {
    position: absolute;
    left: 0.5em;
    top: 50%;
    transform: translateY(-50%);
    color: gray;
    pointer-events: none;
  }
  
  .org-table {
    width: 100%;
    margin: 1em auto 2em;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  
  .org-table th,
  .org-table td {
    border: 1px solid #999;
    padding: 0.5em;
    text-align: center;
    vertical-align: top;
  }
  
  .org-table th {
    background-color: #dfe8f6;
    text-align: center;
    color: #003366;
    font-weight: bold;
  }
  
  .org-table td:first-child {
    text-align: center;
    width: 6%;
    font-weight: bold;
  }
  
  .subtext {
    font-size: 0.85em;
    color: #555;
  }
  
  .pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
    font-size: 0.95em;
  }
  
  .pagination-info {
    color: #333;
  }
  
  .pagination-buttons button {
    margin-left: 0.4em;
    padding: 0.4em 0.8em;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: white;
    cursor: pointer;
  }
  
  .pagination-buttons .active {
    background-color: #2176bd;
    color: white;
  }
  
  .pagination-buttons button:disabled {
    color: #aaa;
    cursor: not-allowed;
  }
  